export DBUSER= (Database User)
export DBPASS= (Database Password)
export DBHOST= (Database Host)
export DBPORT= (Database Port)
export DBNAME= (Database Name)
export CLDURL= (Cloudinary URL)
export JWTSECRET= (JWT Secret)
export RDSURL= (Redis URL)
export AWSKEY= (Aws Key ID)
export AWSSECRET= (Aws Secret Key)
export AWSREGION= (Aws S3 Region)