export DBUSER= (Database User)
export DBPASS= (Database Password)
export DBHOST= (Database Host)
export DBPORT= (Database Port)
export DBNAME= (Database Name)
export CLDURL= (Cloudinary URL)
export JWTSECRET= (JWT Secret)
export RDSURL= (Redis URL)
export AWSKEY= (Aws Key ID)
export AWSSECRET= (Aws Secret Key)
export AWSREGION= (Aws S3 Region)
export EMAILFROM= (Email Sender)
export SMTPHOST= (SMTP Host)
export SMTPPORT= (SMTP Port)
export SMTPUSER= (SMTP User)
export SMTPPASS= (SMTP Password)
export PASSWDURL= ( Password Reset UR )